html, body, header, nav, button, svg, use, main, div, h1 {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}

html {
    font-size: 2vw;
    color: whitesmoke;
}

header {
    width: 100vw;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: dimgrey;
    position: fixed;
    /*border: 2px solid black;*/
}

nav {
    height: 100%;
    padding: 0 0 0 3vw;
    /*flex-grow: 0.25;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*border: 2px solid red;*/
}

button {
    width: 3rem;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 0.5rem;
    background: none;
    color: currentColor;
    /*border: 2px solid hotpink;*/
}

button:hover {
    background-color: lightgrey;
    color: black;
}

.settings {
    margin: 0 3vw;
}

header nav button svg {
    width: 1rem;
    height: 100%;
    fill: currentColor;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    /*width: 80%;*/
    /*height: 60%;*/
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

main div svg {
    height: 10rem;
    fill: hotpink;
}

h1 {
    font-size: 5rem;
    color: darkgrey;
}