.c1 {
    background-color: yellow;
}

.c2 {
    background-color: green;
}

.c3 {
    background-color: blue;
}

.c4 {
    background-color: gray;
}

.c5 {
    background-color: red;
}

.c6 {
    background-color: orange;
}

.c7 {
    background-color: fuchsia;
}

