html, body, nav, ul, li, main, section {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-flow: row wrap;
}

nav, main {
     width: 100%;
}

ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}