html, body, div, p {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    position: relative;
}

#one {
    position: absolute;
    left: 300px;
    border: 2px solid red;
    width: 200px;
    height: 400px;
}

#two {
    margin-left: 500px;
    border: 2px solid black;
    width: 500px;
    height: 400px;
}