#idx-atf {
    background-image: url("../img/background-photo-mobile-devices.jpg");
}

#idx-atf > div {
    height: 100vh;
    padding: 5vh 0;
}

h2, h3, button {
    font-size: 0.7rem;
}

h1 {
    font-size: 1.2rem;
}

h1, h2, h3 button {
    text-align: center;
}